.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.75rem;
  background-color: var(--white);
  box-shadow: 0 0 0 4px var(--green-light);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.2s;

  &.active {
    box-shadow: 0 0 0 4px var(--green);
  }

  @media screen and (width >=1025px) {
    flex-wrap: wrap;
  }
}
