.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  font-size: 0.75rem;
  line-height: 1.25rem;
  min-height: 4.25rem;
}

.price {
  color: var(--blue);

  /* 20px */
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.oldPrice {
  letter-spacing: 0.5px;
  text-decoration: line-through;
  text-decoration-color: var(--red);
}
