.heading {
  /* 28px */
  font-size: 1.625rem;
  line-height: 2.25rem;
  margin-bottom: 1rem;
  text-align: center;

  @media screen and (width >=1025px) {
    font-size: 2.8125rem;
    line-height: 3.25rem;
  }
}
